target/
!learning-management-system/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
learning-management-system/src/main/resources/application-secrets.yaml
/learning-management-system/btp/approuter/node_modules/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
